.comments-modal {
    position: absolute;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    // left: 15vw;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 'max-content';
    background-color: white;
    z-index: 100;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding: 20px 10px;
}

.comment-modal-cross {
    position: absolute;
    right: 0px;
    top: 22px;
    width: 25px;
    height: 25px;
    color: #Df2000;
    cursor: pointer;
}

.comments-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 300px;
    border: 1px solid #6d7481;
    width: -webkit-fill-available;
    border-radius: 10px;
    overflow-y: scroll;
}

.add-comment-container {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px;
    width: 100%;
}

.send-icon {
    position: absolute;
    color: #3373B1;
    right: 20px;
    cursor: pointer;

}

.add-comment-input {
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    color: #344054;
    background: #ffffff;
    border: 2px solid #d0d5dd;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    padding: 10px 14px;

    &::placeholder {
        font-size: 16px;
        font-weight: 400;
        color: #667085;
      }
      &:focus {
        outline: none !important;
        border: 2px solid #3373B1;
      }
}

