.drop-down-wrapper {
  display: block;
  align-items: last baseline;
    // margin-top: 20px;s
  }
  /* Input style */
  
  /* Label */
label {
    font-weight: 600;
    font-size: 14px;
    color: #344054;
    display: block;
    margin-bottom: 8px;
  }