.drop-down-wrapper {
    // margin-top: 20px;
  }
  
  /* Input style */
  
  /* Label */
label {
    font-weight: 600;
    font-size: 14px;
    color: #344054;
    display: block;
    margin-bottom: 8px;
  }