.parent-container {
  // position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.child-container-loggedIn {
  display: flex;
  height: 90vh;
}

.child-container-loggedOut {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-container {
  width: 100vw;
  margin: 10px;
  overflow-y: scroll;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

::-webkit-scrollbar-thumb {
  background: #3373B1;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}

.login-signup-container {
  width: max-content;
  height: max-content;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 10px;
  padding: 20px;
}